body {
    margin: 0;
}

.todo {
    border: 1px solid;
    background-color: orange;
}

.project {
    background-color: green;
}

.hidden {
    display: none;
}

.completed p {
    text-decoration: line-through;
}
